html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.container {
}

.header {
  height: 77px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  margin: 0 auto 25px auto;
}

.header__logo {
  font-family: "Josefin Sans";
  font-weight: 400;
  letter-spacing: 1.1px;
  font-size: 38px;
  text-transform: uppercase;
  color: #232323;
}

.header__nav {
  display: flex;
  list-style: none;
}
.nav__item {
  margin-left: 32px;
}
.nav__item-link {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #818181;
  text-decoration: none;
}
.nav__item-link_active {
  color: #3d8b74;
}
/* Section */
.banner {
  max-width: 1442px;
  margin: 0 auto;
}
.banner__image__div {
  height: calc(100vh - 77px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner__block {
  max-width: 723px;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__heading {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #232323;
  margin: 59px 0 28px 0;
}
.banner__text {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 1.5px;
  color: #232323;
  margin-bottom: 40px;
}
.banner__btn {
  width: 292px;
  height: 55px;
  background: #3d8b74;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
  margin-bottom: 57px;
}
.blog-section {
  max-width: 50%;
  margin: 0 120px;
}
.blog-items {
  display: flex;
  list-style: none;
  margin-bottom: 23px;
}
.blog-item {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 1.5px;
  padding: 0 8px;
}
.blog-link {
  text-decoration: none;
  color: #232323;
}
.blog-item__active {
  color: #3d8b74;
}
.blogs {
  display: flex;
  flex-direction: column;
}
.blog {
  display: flex;
  margin-bottom: 57px;
}
.blog__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}
.blog__text h2 {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 17px;
}
.blog__text p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #232323;
  margin-bottom: 12px;
}
.blog__text a {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.1px;
  text-decoration-line: underline;
  color: #232323;
}
.main {
  display: flex;
  margin: 57px 0 27px 0;
}
.nets__block {
  display: flex;
  list-style: none;
  margin-bottom: 70px;
}
.nets__block li + li {
  margin-left: 32px;
}
@media screen and (max-width: 1060px) {
  .blog-items {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 900px) {
  .main {
    flex-wrap: wrap;
  }
  .blog-section {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header__nav {
    flex-wrap: wrap;
  }
  .header__logo {
    font-size: larger;
  }
  .blog {
    flex-direction: column;
  }
  .blog__text {
    margin: 30px 0;
  }
  .blog-section {
    margin: 0 30px;
  }
}
.side-bar {
  width: auto;
  height: auto;
}
.nets__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  gap: 0.2em;
}
.sidebar__tags {
  height: 258px;
  width: 267.0717468261719px;
  margin-top: 60px;
}
.side-bar__heading {
  height: 18.96480369567871px;
  width: 175.73118591308594px;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  margin: unset;
  margin: 59px 0 28px 0;
}
.sidebar__buttons {
  gap: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.sidebar__buttons > button {
  background-color: #3d8b74;
  padding: 10px 15px;
  border: none;
}
.sidebar__link {
  display: block;
}
.sidebar__buttons > button > span {
  height: 20px;
  width: 115px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffffff;
}
.sidebar__link {
  height: 20px;
  width: 80px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #232323;
  padding-top: 20px;
}
.aside__widget {
  height: 445px;
  width: 277px;
}
.widget__heading {
  height: 20px;
  width: 177px;
  font-family: Josefin Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  color: #232323;
  margin-bottom: 10px;
}
.widget__img {
  height: 276px;
  width: 277px;
}
.widget__description {
  width: 275.01px;
  height: 110px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.3px;
  color: #232323;
  margin-top: 22px;
}
@media screen and (max-width: 1020px) {
  .side-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: auto;
    gap: 2rem;
  }
  .nets__block {
    margin-bottom: unset;
    justify-content: space-around;
  }
  .nets__block li + li {
    margin: unset;
  }
  .sidebar__tags {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    margin: unset;
    gap: 1rem;
    align-items: center;
  }
  .side-bar__heading {
    margin: unset;
  }
  .sidebar__buttons {
    gap: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sidebar__buttons > button {
    background-color: #3d8b74;
    padding: 10px 15px;
    border: none;
  }
  .sidebar__link {
    padding: unset;
  }
  .sidebar__widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .widget__heading {
    margin: unset;
  }
  .widget__description {
    margin: unset;
    width: 60%;
  }
}
.pagination {
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination__button--active {
  height: 26px;
  background: #3d8b74;
  border: none;
  padding: 3px 8px;
}
.pagination__button--active > span {
  height: 20px;
  width: 10px;
  color: #ffffff;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: left;
}
.pagination__button {
  height: 26px;
  border: none;
  padding: 3px 8px;
  background: none;
}
.pagination__button > span {
  height: 20px;
  width: 10px;
  color: #232323;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: left;
}
.pagination__button:first-of-type > span {
  height: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #232323;
  padding: 3px 8px;
}
.pagination__button:last-of-type > span {
  height: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #232323;
  padding: 3px 8px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background: #e2eeea;
  margin-top: 94px;
  padding: 57px;
}
.form__mainText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.form__mainText > h2 {
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.100000023841858px;
  text-align: center;
  margin: unset;
}
.form__mainText > p {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
}
.form__input {
  height: 56px;
}
.form__name {
  margin-right: 20px;
  border: none;
  height: 55px;
  width: 245px;
}
.form__name::placeholder {
  padding-left: 26px;
  font-family: "Mulish";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  width: 49px;
  height: 20px;
  color: #797979;
}
.form__email {
  margin-right: 20px;
  border: none;
  height: 55px;
  width: 368px;
}
.form__email::placeholder {
  padding-left: 26px;
  font-family: "Mulish";
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  width: 49px;
  height: 20px;
  color: #797979;
}
.form__button {
  border: none;
  width: 133px;
  height: 55px;
  background: #3d8b74;
}
.form__button > span {
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 935px) {
  .form__mainText > h2 {
    font-family: Josefin Sans;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.100000023841858px;
    text-align: center;
    margin: unset;
  }
  .form__mainText > p {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .form__input {
    display: flex;
    gap: 1rem;
  }
  .form__name {
    border: none;
    height: 40px;
    width: 150px;
  }
  .form__email {
    margin-right: 20px;
    border: none;
    height: 40px;
    width: 200px;
  }
  .form__button {
    border: none;
    width: 95px;
    height: 40px;
    background: #3d8b74;
  }
  .form__button > span {
    font-family: "Josefin Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 1.100000023841858px;
    text-align: left;
    color: #ffffff;
  }
}
@media screen and (max-width: 390px) {
  .form {
    margin-top: 35px;
    width: 100%;
    padding: unset;
  }
  .form__mainText {
    width: auto;
    height: auto;
  }
  .form__mainText > h2 {
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.100000023841858px;
    text-align: center;
    margin: unset;
  }
  .form__mainText > p {
    font-family: "Mulish";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: center;
  }
  .form__input {
    display: flex;
    flex-wrap: wrap;
    height: 0px;
    gap: 1rem;
  }

  .form__name {
    height: 40px;
    width: auto;
    margin: none;
  }
  .form__email {
    margin: none;
    border: none;
    height: 40px;
    width: auto;
  }
  .form__button {
    width: auto;
    height: 40px;
  }
  .form__name::placeholder {
    padding-left: 26px;
    font-family: "Mulish";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: center;
    width: 49px;
    height: 20px;
    color: #797979;
  }

  .form__email::placeholder {
    padding-left: 26px;
    font-family: "Mulish";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-align: center;
    width: 49px;
    height: 20px;
    color: #797979;
  }
  .form__button > span {
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.100000023841858px;
    text-align: left;
    color: #ffffff;
  }
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background: #232323;
}
.footer__image {
  width: auto;
  height: auto;
}
.footer__image > img {
  object-fit: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.footer__heading {
  height: 38px;
}
.footer__heading > p {
  font-family: "Josefin Sans";
  font-size: 38px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 1.100000023841858px;
  text-align: left;
  color: #ffffff;
  margin: unset;
}
.footer__icons {
  height: 22.22px;
  margin-bottom: 45px;
  margin-top: 30px;
}
.footer__icons > a {
  text-decoration: none;
  margin-right: 32px;
}
.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 100%;
  background: #323232;
}
.footer__address > p {
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}
